<div class="card bg-light">

    <div class="card-header">
        <h4 class="panel-title">Quiz Parameters</h4>
    </div>

    <div class="card-body">

        <div class="form-group">
            <label for="apiKey">x-api-key:</label>
            <input name="apiKey" type="text" size=50 [(ngModel)]="params.xApiKey" class="form-control">
        </div>
        <div class="form-group">
            <label for="quizId">quiz Id:</label>
            <input type="number" [(ngModel)]="params.quizId" class="form-control">
        </div>
        <div class="form-group">
            <label for="progressId">progress Id (from progresses.json id field):</label>
            <input type="number" [(ngModel)]="params.progressId" class="form-control">
        </div>

    </div>

    <div class="card-footer">

        <button class="btn btn-secondary" (click)="onSaveParams()">
            Save
        </button>
        &nbsp;
        <button class="btn btn-secondary" (click)="onLoadParams()">
            Load
        </button>

    </div>

</div>
