<div class="card bg-transparent" style="margin-bottom: 20px;">

  <div class="card-header" [ngStyle]="{'background-color': q.frozen ? 'lightgreen' : ''}">
    <span class="question-text"> {{ index + '.) [' + q.id + ']' + ' ' + q.question }}</span>
  <button class="btn btn-link" *ngIf="showFrozeButton" (click)="frozeAnswer(q)">Froze</button>
  </div>

  <div class="card-body">
    <div *ngFor="let a of q.answers">
        [{{a.id}}] - {{ a.answer }}
        <input type="checkbox" [(ngModel)]="a.selected">
    </div>
  </div>

</div>
