<!-- <app-header (message)="onMessage($event)" [loadingQuestions]="loadingQuestions" [loadingAnswers]="loadingAnswers" [quiz]="quiz"></app-header> -->
<div class="container">
    <div class="row">
        <app-parameters (message)="onMessage($event)" [params]="params" (save)="onSaveParams()" (load)="onLoadParams()" [loadingQuestions]="loadingQuestions" [loadingAnswers]="loadingAnswers" [quiz]="quiz"></app-parameters>
    </div>
    <div class="row stat-row" [ngStyle]="{ 'background-color': solver.assessment?.result == 'PASS' ? 'lightgreen' : 'lightgray' }">
        <app-stat [quiz]="quiz" [solver]="solver"></app-stat>
    </div>
    <div class="row">
        <h3>Generations [{{ solver.generations.length }}]:</h3>
        <div *ngFor="let g of solver.generations; let i = index">
            <app-generation [g]="g" index="{{ i }}"></app-generation>
        </div>
    </div>
    <div class="row">
        <h3>Questions [{{quiz.questions.length}}]:</h3>
        <div *ngFor="let q of quiz.questions; let i = index">
            <app-question [q]="q" index="{{ i }}"></app-question>
        </div>
    </div>
</div>